button {
    position: fixed;
    width: 150px;
    height: 150px;
}
.button-top-left {
    top: 5em;
    left: 5em;
}
.button-top-right {
    right: 5em;
    top: 5em;
}
.button-bottom-right {
    bottom: 5em;
    right: 5em;

}
.button-bottom-left {
    bottom: 5em;
    left: 5em;
    background-color: yellow;
}
